@import 'tailwindcss' prefix(tw);

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

        --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;

    --color-pm_green_001: #d9ead3;
    --color-pm_gray_001: #666666;
    --color-pm_gray_002: #efefef;
    --color-pm_pink_001: #f4cccc;
    --color-pm_blue_001: #4a86e8;

}

@layer base {
    html {
        font-size: 83.3%;
    }

    body {
        @apply tw:text-base;
    }
}
