@import './fontawesome.min.css';
@import 'tom-select/dist/css/tom-select.css';
@import 'tailwindcss' prefix(tw);

@import './pm-table.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

        --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;

    --color-pm_green_001: #d9ead3;
    --color-pm_gray_001: #666666;
    --color-pm_gray_002: #efefef;
    --color-pm_gray_003: #d9d9d9;
    --color-pm_gray_004: #f3f3f3;
    --color-pm_gray_005: #bdbdbd;
    --color-pm_pink_001: #f4cccc;
    --color-pm_blue_001: #4a86e8;
    --color-pm_blue_002: #cfe2f3;
    --color-pm_red_001: #ff0000;

}

@layer base {
    html {
        font-size: 83.3%;
    }

    body {
        @apply tw:text-base;
    }

    [x-cloak] {
        display: none !important;
    }

    input[type='date'] {
        color: #9ca3af;
    }

    input[type='date']:valid {
        color: #111827;
    }

    input[type='date']::-webkit-datetime-edit {
        color: #9ca3af;
    }

    input[type='date']:valid::-webkit-datetime-edit {
        color: #111827;
    }
}

